<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <uses-sdk tools:overrideLibrary="me.zhanghai.android.fastscroll" />

    <application
        android:name=".legacy.components.activities.CrashApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_content"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/NClientTheme">

        <activity android:name=".legacy.StatusManagerActivity" />
        <activity
            android:name=".legacy.PINActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/DarkTheme">
        </activity>

        <activity-alias
            android:name=".components.launcher.LauncherReal"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher"
            android:targetActivity=".legacy.PINActivity">
        </activity-alias>
        <activity-alias
            android:name=".components.launcher.LauncherCalculator"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_calculator"
            android:label="@string/app_name_fake_calculator"
            android:roundIcon="@mipmap/ic_launcher_calculator_round"
            android:targetActivity=".legacy.PINActivity">
        </activity-alias>

        <activity android:name=".legacy.StatusViewerActivity" />
        <activity android:name=".legacy.HistoryActivity" />
        <activity android:name=".legacy.BookmarkActivity" />
        <activity android:name=".legacy.SearchActivity" />
        <activity
            android:name=".legacy.MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:parentActivityName=".legacy.PINActivity"
            android:theme="@style/DarkTheme">
        </activity>
        <activity
            android:name=".legacy.GalleryActivity"
            android:exported="true"
            android:label="@string/title_activity_gallery"
            android:parentActivityName=".legacy.MainActivity"
            android:theme="@style/DarkTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.damianjester.nclient.legacy.MainActivity" />
        </activity>
        <activity
            android:name=".legacy.LocalActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".legacy.MainActivity"
            android:theme="@style/DarkTheme" />
        <activity
            android:name=".legacy.TagFilterActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:label="@string/title_activity_tag_filter"
            android:parentActivityName=".legacy.MainActivity"
            android:theme="@style/DarkTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.damianjester.nclient.legacy.MainActivity" />
        </activity>
        <activity android:name=".legacy.SettingsActivity" />
        <activity
            android:name=".legacy.RandomActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".legacy.FavoriteActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".legacy.MainActivity" />
        <activity
            android:name=".legacy.CopyToClipboardActivity"
            android:icon="@drawable/ic_content_copy"
            android:label="@string/copyURL" />
        <activity
            android:name=".legacy.LoginActivity"
            android:label="@string/title_activity_login"
            android:exported="true"
            android:parentActivityName=".legacy.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.damianjester.nclient.legacy.MainActivity" />
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/NClientTheme"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter tools:ignore="AppLinkWarning">

                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="nhentai.net" />
                <data android:pathPattern="/g/.*" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name=".legacy.async.downloader.DownloadGalleryV2"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".legacy.async.converters.CreatePDF"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".legacy.async.converters.CreateZIP"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".legacy.async.ScrapeTags"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/pdf" />
        </intent>
    </queries>
    <meta-data
        android:name="com.github.damianjester.nclient.legacy.components.classes.integration.OkHttpGlideModule"
        android:value="GlideModule" />
</manifest>
